<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="logFile" value="E:\ERR.log"/>
		<add key="srchWrd" value="단어1|단어2"/>
		<add key="captureWrd" value="단어1|단어2"/>
		<add key="exceptWrd" value="단어"/>

		<add key="captureServerAddress" value="192.168.10.10:7979"/>
	</appSettings>
</configuration>